
---
title: Cowboy Costume Contest Entries
sectionId: entries
---
<h1>Costume Contest Entries</h1>
<p>It's pretty simple. Win the costume contest, go to JSConf. Check out the entries so far.</p>
<ul class="clearfix">
{{#each entries}}
  <li>
    <h3><a href="http://twitter.com/#/{{this.twitter}}" target="_blank">{{this.firstName}} {{this.lastName}}</a></h3>
    <img src="{{this.photo}}" />
    <a href="#" class="vote btn teal">Vote via Twitter</a>
  </li>
{{/each}}
</ul>
