---
title: Cowboy Costume Contest
sectionId: details
---
<h1>Test Form</h1>
<form id="test" method="post" action="#">
  <fieldset>
    <label>First Name</label><input type="text" name="firstName" /><br />
    <label>Last Name</label><input type="text" name="lastName" /><br />
    <label>Twitter</label><input type="text" name="twitter"/><br />
    <label>Gender</label>
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select><br />
    <input type="file" name="image" /><br/>
    <input type="submit" />
  </fieldset>
</form>

